ul
  li: h3.title: a(href="http://www.linkedin.com/in/gordonkoo", title="LinkedIn") LinkedIn
  li: h3.title: a(href="http://www.twitter.com/superkerplunk", title="Twitter") Twitter
  li: h3.title: a(href="https://github.com/gkoo", title="Github") Github
  li: h3.title: a(href="http://www.quora.com/Gordon-Koo", title="Quora") Quora
