ul
  li
    h3: a(href="http://timeline.linkedinlabs.com") Connection Timeline
    p
      | The Connection Timeline is an interactive visualization of the
      | connections you've made throughout your career.
  li
    h3: a(href="/grid") Grid
    p
      | My first foray into real-time applications using NodeJS and Socket.IO.
      | It's best described as a collaborative drawing experience and worst
      | described as an unfinished thing that lets you draw on one browser
      | and see it happen on a different browser.
  li
    h3: a(href="/faces") Faces of LinkedIn
    p
      | A mashup of the Face.com API and LinkedIn's Javascript API. Take your
      | LinkedIn connections and filter them by who's happy, who's angry, who
      | wears glasses, and more. 
  li
    h3: a(href="http://cs.stanford.edu/~gkoo/ka") Khan Academy TV
  li
    h3: a(href="http://cs.stanford.edu/~gkoo/coverflow") Coverflow
