ul
  li
    h3.title: a(href="http://timeline.linkedinlabs.com") Connection Timeline
    p
      | The Connection Timeline is an interactive visualization of the
      | connections you've made throughout your career.
  //-
    li
      h3.title: a(href="/grid") Grid
      p
        | My first foray into real-time applications using NodeJS and Socket.IO.
        | It's best described as a collaborative drawing experience and worst
        | described as an unfinished thing that lets you draw on one browser
        | and see it happen on a different browser.
  li
    h3.title: a(href="/faces") Faces of LinkedIn
    p
      | A mashup of the Face.com API and LinkedIn's Javascript API. Take your
      | LinkedIn connections and filter them by who's happy, who's angry, who
      | wears glasses, and more.
  li
    h3.title: a(href="/html/ka.html") Khan Academy TV
    p
      | A viewer for watching Khan Academy videos. When I first visited the
      | Khan Academy website, I found the huge library of videos on the Khan
      | Academy site incredibly overwhelming. I had the idea to just create
      | a random video viewer for the library using their API, and this is the
      | result.
  li
    h3.title: a(href="/html/coverflow.html") Coverflow
    p
      | One of the new features in Firefox 10 was support for CSS 3D
      | transforms. I decided to give kick the tires and make an in-browser
      | implementation of coverflow, the popular visualization by Apple.
