p
  | The page you are looking for might have been removed, had its name
  | changed, or is temporarily unavailable.
hr
p You should really know the following:
ul.messages
  li
    | Don't panic! It's going to be okay.
  li
    | We are
    em really
    | sorry!
  li
    | There's a chance that it wasn't our fault! Look at the address bar thing.
    | Did you spell the URL correctly?
  li
    | Maybe you're wondering, "Okay ... now what?" Well, I'll tell you now what!
    | Maybe you can, you know, go back to the safety of
    span
      a(href='/') Home
    | .
p
  | HTTP 404 - File not found
  br
  | Sincerely,
  br
  | Your Internet Browser
