p
  | Wow, we really messed up. I mean,
  em really
  | messed up! This is so embarrassing. I'm turning red.
hr
p Err: #{error}
p I don't even know what to say.
ul.messages
  li
    | You know what it was? I bet my dog got into the trash again.
  li
    | I have to apologize again. That was a lie. I don't even have a dog. And
    | how would a dog getting into the trash break a website?
  li
    | You can always go back
    span
      a(href='/') Home
    | , you know.
