#aboutSection
  h2.sectionTitle about
  h3 About the Guy
  p
    | My name is Gordon Koo. I'm a software developer in the San Francisco Bay Area, currently working at
    a(href='http://www.linkedin.com')
      = 'LinkedIn'
    | , a site aimed at connecting professionals. Here is my
    a(href='http://www.linkedin.com/in/gordonkoo')
      = 'LinkedIn profile'
    | .
  p
    | In my freshman year of college, my dorm resident assistant
    | put a guitar in my hands and taught me a handful of chords
    | and the basics of strumming. Since then, I've become quite
    | found of playing guitar (and more recently, ukulele) and
    | it's my most frequent and enjoyable hobby today.
  p
    | I like to work on websites. I suppose that's a good trait
    | to have for someone in my profession. My proclivity to
    | work on personal projects outside of work started with
    | my discovery of LinkedIn's Hackdays, an internal event
    | hosted every month where employees are encouraged to work
    | on side projects and learn about new technologies.
  h3 About the Technical Stuff
  p
    | This site was made using
    a(href='http://nodejs.org')
      = 'NodeJS'
    | ,
    a(href='http://couchdb.apache.org/')
      = 'CouchDB'
    | ,
    a(href='http://documentcloud.github.com/backbone/')
      = 'Backbone'
    | , and some random CSS3.
  h3 About the Purpose of this Site
  p
    | On a flight back from the Dominican Republic, I was
    | working on the animation for homepage icons when the
    | man seated next to me asked me what site I was working
    | on. I replied, "It's just my personal website." He
    | asked, "What's your domain? Commerce?"
  p
    | "No," I said, "it's just ... my personal website. I
    | just list some projects I've worked on in the past."
    | I think he was a little disappointed with that answer.
    | So is there a purpose to this site? I would have to
    | honestly answer, "No, not really." This is just another
    | one of my projects.
  //-
    h3 Credits
    p
      | I got many of the icons that I use on the homepage from various icon sets at
      a(href="http://iconfinder.com") iconfinder.com
      | .
  h3 About the Homepage
  p
    | I drew inspiration for the homepage icon animation from the Android app drawer animation.
