#resume
  #header.section.first
    h1.name Gordon Koo
    .contact
      h3.email
        a(href="mailto:gordon@gordonkoo.com") gordon@gordonkoo.com
      h3.website
        a(href="http://www.gordonkoo.com", target="_blank") www.gordonkoo.com
      h3.linkedin
        a(href="http://www.linkedin.com/in/gordonkoo", target="_blank") www.linkedin.com/in/gordonkoo
      h3.phone (415) 545-8862
  #skills.section
    h2.section-heading Skills &raquo;
    .section-content
      ul
        li HTML
        li CSS
        li UNIX
        li Git
        li SVN
      ul
        li Javascript
        li.sub jQuery
        li NodeJS
        li.sub Socket.IO
        li.sub Express
      ul.last
        li Hadoop/Pig/Voldemort*
        li CouchDB*
        li Redis*
        li Python*
        li Django*
      p.disclaimer * These skills are at intermediate level or could use some brushing up.
  #experiences.section
    h2.section-heading Experience &raquo;
    .section-content
      ul
        each experience in experiences
          != partial('resume_position', experience)
  #projects.section
    h2.section-heading Projects &raquo;
    .section-content
      ul.project
        each project in projects
          != partial('resume_project', project)
  #educations.section
    h2.section-heading Education &raquo;
    .section-content
      .education
        h4.headline
          span Stanford University
          span.dates 9/04 &mdash; 6/08
        p BS, Computer Science
        p Activities: Asian American Students' Association, The Stanford Fleet Street Singers
  #interests.section
    h2.section-heading Interests &raquo;
    .section-content
      ul
        li Music
        li.sub Guitar
        li.sub Ukulele
        li.sub Piano
        li.sub Singing
      ul
        li Biking
        li Rock Climbing
        li Video Games &mdash; but trying to quit
  .clearfix
  #dontclickme
