ul#nav
  li
    a(href='/', title='Back to Home') Home
  li
    a(href='/blog', title='Blog Link') Blog
  li
    a(href='#edit', title='Blog Link') Edit
  li
    a(href='#posts', title='Blog Link') Posts
#content
  .auth
    .enter-pw
      p Please enter a password to access the admin interface
      form#blogAuthForm
        input(type="password", name="pw", id="pw")
        input(type="submit", value="Submit")
  .edit
    .status
    form.createPostForm
      h2 Title
      input(type="text", name="postTitle", id="postTitle")
      h2 Deconstruct your thoughts here.
      textarea#post
      p.actions
        input.save(type="button", value="Save Draft")
        input.post(type="submit", value="Post")
      p.formattingToggle
        a(href="#") Formatting Help
      .formatting
        ul.formattingHelp
          li Link: [my link](http://koo.no.de)
          li Link: [img:http://koo.no.de/funnypic.jpg]
  .post-list
    ol.list
      - each post in posts
        li
          span= post.title
          a.edit-link(href="#") Edit
          a.view-link(href="/blog/"+post.slug) View
script(type="text/javascript", src="/js/underscore.js")
script(type="text/javascript", src="/js/backbone.js")
script(type="text/javascript", src="/js/blogadmin.js")
