ul#nav
  li
    a(href='/', title='Back to Home') Home
  li
    a(href='/blog', title='Blog Link') Blog
  li
    a(href='#edit', title='Blog Link') Edit
  li
    a(href='#posts', title='Blog Link') Posts
#content
  .auth
    .enter-pw
      p Please enter a password to access the admin interface
      form#blogAuthForm
        input(type="password", name="pw", id="pw")
        input(type="submit", value="Submit")
  .edit
    .status
    form.createPostForm
      h2 Title
      input(type="text", name="postTitle", id="postTitle")
      h2 Deconstruct your thoughts here.
      textarea#post
      p.actions
        input.save(type="button", value="Save Draft")
        input.post(type="submit", value="Post")
      p.formattingToggle
        a(href="#") Formatting Help
      .formatting
        ul.formattingHelp
          li Link: [my link](http://koo.no.de)
          li Image: [img:http://koo.no.de/funnypic.jpg]
          li Bold: This is [b]bold[\\b].
          li Italic: This is [i]italic[\\i].
          li Underline: This is [u]underline[\\u].
  .post-list
    ol.list
      - each post in posts
        li(id=post.id)
          span= post.title
          - if (post.status == 'draft')
            span.draft Draft
          a.delete-link(href="#") Delete
          a.edit-link(href="#edit/"+post.id) Edit
          a.view-link(href="/blog/title/"+post.slug) View
          input.post-id(type="hidden", name="post-id", value=post.id)
          input.post-rev(type="hidden", name="post-rev", value=post.rev)
script(type="text/javascript", src="/js/underscore.js")
script(type="text/javascript", src="/js/backbone.js")
script(type="text/javascript", src="/js/blogadmin.js")
