#nav
  a(href='/', title='Back to Home') Home
  | &nbsp;
  a(href='/blog', title='Blog Link') Blog
#content
  .auth
    .enter-pw
      p Please enter a password to access the admin interface
      form#blogAuthForm
        input(type="password", name="pw", id="pw")
        input(type="submit", value="Submit")
  .edit
    .status
    form.createPostForm
      h2 Title
      input(type="text", name="postTitle", id="postTitle")
      h2 Deconstruct your thoughts here.
      textarea#post
      p.actions
        input(type="submit", value="Post")
      p.formattingToggle
        a(href="#") Formatting Help
      .formatting
        ul.formattingHelp
          li Link: [my link](http://www.koonode.com)
script(type="text/javascript", src="/js/underscore.js")
script(type="text/javascript", src="/js/backbone.js")
script(type="text/javascript", src="/js/blogadmin.js")
