h2.header it's a blog
div
  a(href='/', title='Back to Home') Home
  | &nbsp;
  a(href='/blog', title='Blog Link') Blog
ul.posts
  - each blogpost in posts
    li
      h3 #{blogpost.title}
      p #{blogpost.timestamp}
      !{blogpost.post}
