noscript Oops. This site is pretty dependent on Javascript, and it looks like your browser doesn't support Javascript or doesn't have it enabled. Sorry!
h1#mainTitle Gordon Koo
a#homeBtn(href="#home")
  img(src="/img/drawericons/home_icon.png")
#content
  != partial('about')
  != partial('blog')
  != partial('resume')
#drawerWrapper.hidden
  ul#drawer.hide
    ul.row
      li.item
        a(href="#about")
          img(src="/img/drawericons/about_icon.png")
        h2 About
      li.item
        a(href="#blog")
          img(src="/img/drawericons/blog_icon.png")
        h2 Blog
      li.item
        a(href="#resume")
          img(src="/img/drawericons/twitter_icon.png")
        h2 Resume
    ul.row
      li.item
        a(href="http://www.linkedin.com/in/gordonkoo")
          img(src="/img/drawericons/linkedin_icon2.png")
        h2 LinkedIn
      li.item
        a(href="http://www.twitter.com/superkerplunk")
          img(src="/img/drawericons/twitter_icon.png")
        h2 Twitter
      li.item.quora
        a(href="http://www.quora.com/Gordon-Koo")
          img(src="/img/drawericons/quora_icon.png")
        h2 Quora
    ul.row
      li.item.timeline
        a(href="http://timeline.linkedinlabs.com")
          img(src="/img/drawericons/timeline_icon.jpg")
        h2 Connection Timeline
      li.item
        a(href="/grid")
          img(src="/img/drawericons/twitter_icon.png")
        h2 Grid
      li.item
        a(href="/faces")
          img(src="/img/drawericons/twitter_icon.png")
        h2 Faces of LinkedIn

script(type="text/javascript", src="/js/jquery-1.6.1.min.js")
script(type="text/javascript", src="/js/underscore-min.js")
script(type="text/javascript", src="/js/backbone.js")
script(type="text/javascript", src="/js/drawer.js")
script(type="text/javascript", src="/js/resume_egg.js")
