h1= title
script(type="IN/Login")
.cxnWrapper
  p.filter
    span Filter By:&nbsp;
    select.filterDropdown
      option(value="all-filter", selected="true") All
      option(value="self-filter", selected="true") Me
      option(value="happy-filter") Happy
      option(value="neutral-filter") Neutral
      option(value="sad-filter") Sad
      option(value="angry-filter") Angry
      option(value="surprised-filter") Surprised
      option(value="glasses-filter") Glasses
      option(value="noglasses-filter") No Glasses
      option(value="smile-filter") Smiling
      option(value="nosmile-filter") No Smiling
      option(value="nophoto-filter") Undetectable Face
  ul.categories
    li.mooooood Mood
    li.glasses Glasses
    li.smiling Smiling
  ul.cxns

script(type="text/javascript", src="/js/jquery-1.6.1.min.js")
script(type="text/javascript", src="/js/underscore.js")
script(type="text/javascript", src="/js/backbone.js")
script(type="text/javascript", src="/js/face_api_client.js")
script(type="text/javascript", src="/js/faces.js")
