h1= title
p Here I am trying out the Face.com API
.cxnWrapper
  ul.categories
    li.glasses Glasses
    li.smiling Smiling
    li.mooooood Mood
  ul.cxns

script(type="IN/Login")
script(type="text/javascript", src="/js/jquery-1.6.1.min.js")
script(type="text/javascript", src="/js/underscore.js")
script(type="text/javascript", src="/js/backbone.js")
script(type="text/javascript", src="/js/face_api_client.js")
script(type="text/javascript", src="/js/face.js")
script(type="text/javascript", src="http://platform.linkedin.com/in.js")
  | api_key: y8JAzL_jJwPMkPPpN3CACsxArbVnDw73JGH4K0FYKVgqlTq78qh15fKJ-II9Eb5E
  | authorize: true
  | onLoad: onLinkedInLoad
