.gradient
h1= title
.intro
  p
    | This is an experiment to explore the variety of expressions and moods
    | of your LinkedIn connections. Facial feature detection is powered by
    a(href='http://www.face.com')
      = 'Face.com'
    | .
  p To get started, log in using your LinkedIn account.
script(type="IN/Login", data-size="large")
.wrapper
  .cxnWrapper
    .controls
      span Filter By:&nbsp;
      select.filterDropdown
        option(value="all-filter", selected="true") All
        option(value="self-filter", selected="true") Me
        option(value="happy-filter") Happy
        option(value="neutral-filter") Neutral
        option(value="sad-filter") Sad
        option(value="angry-filter") Angry
        option(value="surprised-filter") Surprised
        option(value="glasses-filter") Glasses
        option(value="noglasses-filter") No Glasses
        option(value="smile-filter") Smiling
        option(value="nosmile-filter") No Smiling
        option(value="noattrs-filter") Undetectable Face
      button.switchMode View by job title
    ul.categories
      li.mooooood Mood
      li.glasses Glasses
      li.smiling Smiling
    ul.cxns
  .topTitles
    h2 by job titles
    //
      .controls
        p Select top job titles by the categories below:
        .filters
          button Happy
          button Neutral
          button Sad
          button Angry
          button Surprised
          button Glasses
          button No Glasses
          button Smiling
          button Not Smiling
          button Undetectable Face
    .data
