.loading
  p.loading-status Initializing grid particles...
  ul#grid
    - for (var i=0; i<dimSize; i++)
      li
        ul.innergrid
          - for (var j=0; j<dimSize; j++)
            li
  #controls
    #colorMsg
      div.black
      p Your color
    ul.colors
      li
        a.black(href='#')
      li
        a.red(href='#')
      li
        a.green(href='#')
      li
        a.blue(href='#')
      li
        a.yellow(href='#')
      li
        a.white(href='#')
    p
      input#clearbtn(type='button', value='Clear the Grid')
h2 Upcoming features!
ul
  li Erasing!
  li Color selection!
  li Brush size!
  li That's it!

script(src='/socket.io/socket.io.js')
script(src='/javascripts/gridclient.js')
