.loading
  p.loading-status Initializing grid particles...
  ul#grid
    - for (var i=0; i<dimSize; i++)
      li
        ul.innergrid
          - for (var j=0; j<dimSize; j++)
            li
  #controls
    input#clearbtn(type='button', value='Clear the Grid')
    input#drawbtn(type='button', value='Draw')
    input#erasebtn(type='button', value='Eraser')
    span.status
      | You are drawing.
h2 Upcoming features!
ul
  li Erasing!
  li Color selection!
  li Brush size!
  li That's it!

script(src='/socket.io/socket.io.js')
script(src='/javascripts/gridclient.js')
