ul#grid
  - for (var i=0; i<dimSize; i++)
    li
      ul.innergrid
        - for (var j=0; j<dimSize; j++)
          li
input#clearbtn(type='button', value='Clear the Grid')

script(src='/socket.io/socket.io.js')
script(src='/javascripts/gridclient.js')
