.loading
  p.loading-status Initializing grid particles...
  ul#grid
    - for (var i=0; i<dimSize; i++)
      li
        ul.innergrid
          - for (var j=0; j<dimSize; j++)
            li
  #controls
    #colorMsg
      div.black
      p Your color
    ul.colors
      li
        a.black(href='#')
      li
        a.red(href='#')
      li
        a.green(href='#')
      li
        a.blue(href='#')
      li
        a.yellow(href='#')
      li
        a.white(href='#')
    p
      span#username
        span
        input#editNameBtn(type='button', value='Edit your name')
      span#editNameField
        input#editNameText(type='text')
        input#editNameSubmit(type='button', value='Save name')
      input#clearBtn(type='button', value='Clear the Grid')
      //- input#testbtn(type='button', value='print grid on server')
    h2 Artists
    ul
      li.null Where is everyone? There's nobody here!
h2 Upcoming features!
ul
  li Saving!
  li Brush size! (maybe!)
  li That's it!

script(src='/socket.io/socket.io.js')
script(src='/javascripts/gridclient.js')
