p
  a(href='grid') Grid

h2 About The Site
p
  | This site was made using NodeJS modules: Express and Socket.IO.
  | I'm still learning about this stuff, so bear with me please while I build
  | this site!


h2 About The Guy
p
  | The guy is some guy who is learning NodeJS. He likes California, playing
  | guitar, and awkwardness. Also, sleeping.


h2 About The Projects
p
  | Here are some experiments with NodeJS.

//script(src='/socket.io/socket.io.js')
//script(src='/javascripts/io.js')
