- var nodelink = "<a href='http://nodejs.org'>NodeJS</a>"
- var expresslink = "<a href='http://expressjs.com/'>Express</a>"
- var socketiolink = "<a href='http://socket.io'>Socket.IO</a>"

h2 About The Site
p
  | This site was made using
  a(href='http://nodejs.org')
    = 'NodeJS'
  |  modules:
  a(href='http://expressjs.com/')
    = 'Express'
  |  and
  a(href='http://socket.io/')
    = 'Socket.IO'
  | .


h2 About The Guy
p
  | My name is Gordon Koo. I'm a software developer in the San Francisco Bay Area, currently working at
  a(href='http://www.linkedin.com')
    = 'LinkedIn'
  | , a site aimed at connecting professionals. Here is my
  a(href='http://www.linkedin.com/in/gordonkoo')
    = 'LinkedIn profile'
  | .


h2 About The Projects
p
  | Here are some experiments with NodeJS.
ul.link-list
  li
    h3
      a(href='grid') Grid
    p You draw on it and say, "Huzzah!" Exponentially more fun with friends!
  li
    h3
      a(href='http://timeline.linkedinlabs.com') LinkedIn Connection Timeline
    p Visualize your LinkedIn connections ... through time and space!
