#main
  h1= title
  ul.foot
    li
      a(href='http://www.linkedin.com/profile/view?id=34439388') My LinkedIn Profile
    li
      a(href='http://www.twitter.com/nodkoo') My Twitter
  div.clear

script(src='/javascripts/jquery-1.4.4.min.js')
//script(src='/socket.io/socket.io.js')
//script(src='/javascripts/io.js')
