!!!
html
  head
    title= title
    //link(rel='stylesheet', href='/css/style2.css')
    - if (typeof page !== 'undefined')
      link(rel='stylesheet', href='/css/#{page}.css')
    link(rel='stylesheet', href='/css/drawer.css')
    link(rel='stylesheet', href='/css/blog.css')
    link(rel='stylesheet', href='/css/resume.css')
    link(rel='icon', type='image/png', href='/img/favicon.png')
    //script(type="text/javascript", src="/js/jquery-1.6.1.min.js")
  body
    #main

      h1#mainTitle Gordon Koo

      //- MAIN CONTENT
      !{body}

      div.clear

    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28122031-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
