!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    - if (page == 'grid')
      link(rel='stylesheet', href='/css/grid.css')
    - if (page == 'blog')
      link(rel='stylesheet', href='/css/blog.css')
    script(src='/js/jquery-1.6.1.min.js')
  body
    #main

      h1= title

      // MAIN CONTENT
      #wrapper!= body

      div.clear
