!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    - if (dimSize)
      link(rel='stylesheet', href='/stylesheets/grid.css')
    script(src='/javascripts/jquery-1.4.4.min.js')
  body
    #main

      h1= title

      // MAIN CONTENT
      #wrapper!= body

      ul.foot
        li
          a(href='/') Home
        li
          a(href='about') About
        li
          a(href='jobs') Jobs
        li
          a(href='press') Press

      div.clear
