!!! 5
html(lang="en")
  head
    title= title
    script(src='/js/jquery/js/jquery-1.5.1.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/linkedin.js')
    script(src='http://platform.linkedin.com/in.js')
      //- Prod
      | api_key: koMCmJ5xPVCzE97FspEZJtsbl8gZheAhv8SM4J7twaistnj1UyUJIWEoQPHo6n92
      //- Dev
      //- | api_key: y8JAzL_jJwPMkPPpN3CACsxArbVnDw73JGH4K0FYKVgqlTq78qh15fKJ-II9Eb5E
      | authorize: true
      | onLoad: onLinkedInLoad
    link(rel='stylesheet', href='/css/linkedin.css')
  body
    #header
      h1 I'll come up with a title later
      script(type="IN/Login")
    input#printCompBtn(type="button", value='Print Companies')
    input#playBtn(type="button", value="Play")
    select#speed
      option(value="35000") Slow
      option(value="25000") Medium
      option(value="8000") Fast
      option(value="3000") Really Fast
    #overlay
    #body
      h1#loading Loading...
      p#message
      #upper
        .pics
      #timeline
        .top.info
        .top.date
        .top.block
        .bottom.block
        .bottom.date
        .bottom.info
        img#mypic
      #lower
        .pics
    script(src='/js/jquery/js/jquery.ui.core.js')
    script(src='/js/jquery/js/jquery.ui.widget.js')
    script(src='/js/jquery/js/jquery.ui.mouse.js')
    script(src='/js/jquery/js/jquery.ui.draggable.js')
