//- .debug
//-   input#printCompBtn(type="button", value="Print Companies")
//-   input#printCurrCompBtn(type="button", value="Print Curr Companies")
//-   input#printCoworkers(type="button", value="Print Coworkers")
#signin
  p
    | See the who, when, and where of your connections over
    | the entire span of your career so far.
  script(type="IN/Login", data-size="large")
#body
  #loading
    p= loadStatus
    img.spinner(src="/img/timeline_loader.gif")
    .helpReload
      p.suggestReload
        | It shouldn't be taking this long... Try
        a(href="#")
          = 'reloading?'
      p.ieWarn
        | It looks like you're using Internet Explorer. You may have better luck using a modern browser such as
        a(href="http://www.getfirefox.com")
          = 'Firefox'
        |  or
        a(href="http://www.google.com/chrome/")
          = 'Chrome'
        | .
  div#logo
    img(src="/img/timeline_logo.png")
    .clear
  #message
  #timelineStuff
    #upper
      script(type="IN/Share", data-url="http://koo.no.de/linkedin")
      #header
        p
          | Follow your career timeline and track the
          | connections you've made throughout the years!
        p
          | To start, press "Play" or drag your portrait!
        a#playBtn.btn(href='#') Play
        ul#speed
          li.med.active
            a(href="#") Medium
            span.arrow
          li.slow.speedBtn
            a(href="#") Slow
          li.med.hide.speedBtn
            a(href="#") Medium
          li.fast.speedBtn
            a(href="#") Fast
          li.realfast.speedBtn
            a(href="#") Really Fast
        //- a#zoomBtn.btn(href='#') Zoom In
        //- #colorGrid
        //-   .orange
        //-   .blue
        //-   .green
        //-   .purple
        //-   .teal
        //-   .red
        //-   .yellow
        //-   .magenta
        //-   .grey
      .pics
    #timeline
      .top.info
      .top.date
      .top.block
      .bottom.block
      .bottom.date
      .bottom.info
      img#mypic
    #lower
      .pics
    //- #zoomSelect
script(src='/js/jquery/js/jquery.ui.core.js')
script(src='/js/jquery/js/jquery.ui.widget.js')
script(src='/js/jquery/js/jquery.ui.mouse.js')
script(src='/js/jquery/js/jquery.ui.draggable.js')
