!!!
html
  head
    title LinkedIn Shuttle Tracker
    style(type="text/css")
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
  body
    h1 Welcome to the LinkedIn Shuttle Tracker
    div#container
    div#map_canvas(style="width: 512; height:100%;")
    script(src="http://maps.googleapis.com/maps/api/js?sensor=true", type="text/javascript")
    script(src="/js/jquery-1.6.1.min.js", type="text/javascript")
    script(src="/js/linkedinshuttle.js", type="text/javascript")
