.spinner {
  text-align: center;
}

.spinner img {
  margin: 40px auto 0;
}

.blogPost {
  margin: 35px 0;
}

.blogPostTitle {
  font-size: 28px;
}

.datetime {
  font-style: italic;
}

@media only screen and (min-width: 480px) {
  .blogPost {
    margin: 35px 0;
  }
}

@media only screen and (min-width: 480px) {
  .blogPost {
    margin: 48px 0;
  }
}
