/* BLOG */
.header {
  text-align: center;
}

/* ADMIN */
.enter-pw {
  margin-top: 100px;
  text-align: center;
}
.edit {
  display: none;
}
.createPostForm {
  margin-top: 20px;
}
#postTitle,
#post {
  font: 13px monospace, Arial;
}
#post {
  height: 200px;
  margin-bottom: 10px;
}
#postTitle,
#post {
  border: 1px solid #666;
  padding: 5px;
  width: 98%;
}
.actions {
  text-align: right;
}
.posts li {
  margin: 40px 0;
}
.posts h3 {
  margin-bottom: 10px;
}
.posts p {
  line-height: 20px;
  margin-bottom: 20px;
}
.formatting {
  overflow: hidden;
}
.formattingHelp {
  position: relative;
  top: -50px;

  -moz-transition-property: top;
  -moz-transition-duration: .5s;
  -webkit-transition-property: top;
  -webkit-transition-duration: .5s;
  transition-property: top;
  transition-duration: .5s;
}
