.blog {
  .spinner {
    text-align: center;

    img {
      margin: 0 auto;
    }
  }
  .blog-post {
    margin-bottom: 50px;

    .post-date {
      display: none;
    }

    p {
      margin: 10px 0;
    }
    .CodeRay {
      background-color: #eee;
      padding: 10px;
    }
    .code {
      pre {
        margin: 0;
        padding: 0;
      }
      font-size: 14px;
    }
  }
}
