body, ul, h1, h2, h3, h4, h5, div {
  border: 0;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial;
  text-align: center;
}

ul {
  list-style: none;
}

#main {
  padding: 1em;

  -moz-transition: padding 1s; /* Firefox */
  -webkit-transition: padding 1s; /* Safari and Chrome */
  -o-transition: padding 1s; /* Opera */
  transition: padding 1s;
}

#mainTitle {
  font-size: 4em;
  padding: 0 0 .3125em;

  -moz-transition: font-size 1s; /* Firefox */
  -webkit-transition: font-size 1s; /* Safari and Chrome */
  -o-transition: font-size 1s; /* Opera */
  transition: font-size 1s;
}

.sectionTitle {
  font-size: 3em;
  /*margin: -10px 0 20px;*/
  text-align: center;
}

/* ====== */
/* DRAWER */
/* ====== */

#drawerWrapper {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

#drawerWrapper.hidden {
  display: none;
}

#drawer {
  margin: 0 auto;
  width: 30em;
}

#drawer .row {
  clear: left;
  position: relative;
  width: 30em;
  height: 10em;
}

#drawer .item {
  display: block;
  position: absolute;
  top: 0;
  width: 8em;
  height: 8em;

  -moz-transition-property: left, top, width, height, opacity;
  -moz-transition-duration: .4s;
  -moz-transition-timing-function: ease-in;

  -webkit-transition-property: left, top, width, height, opacity;
  -webkit-transition-duration: .4s;
  -webkit-transition-timing-function: ease-in;

  transition-property: left, top, width, height, opacity;
  transition-duration: .4s;
  transition-timing-function: ease-in;
}

#drawer.hide .item {
  width: 12em; /* 8 * 1.5 = 12 */
  height: 12em;
  opacity: 0;

  -moz-transition-timing-function: ease-out,
  -webkit-transition-timing-function: ease-out,
  transition-timing-function: ease-out,
}

.item img {
  width: 100%;
  height: 100%;
}

.item.grid img {
  border: 2px solid #000;
}

.item.timeline img,
.item.grid img {
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
}

#drawerWrapper .item h2 {
  display: none;
  font-size: 1.5em;
  padding-top: .2em;
  text-align: center;
}

#drawerWrapper .item:hover h2,
#drawerWrapper.touch .item h2 {
  display: block;
}

/* ====== */
/* X-AXIS */
/* ====== */

/* Move by 1.5x width */

/* left column*/
#drawer .row .item:nth-child(1) {
  left: 0;
}

#drawer.hide .row .item:nth-child(1) {
  left: -12em; /* 0 - 8*1.5 = -12 */
}

/* middle column*/
#drawer .item:nth-child(2) {
  left: 11em;
}

#drawer.hide .item:nth-child(2) {
  left: 9em; /* 11 - ((8/2)/2) = 9 */
}

/* right column*/
#drawer .item:nth-child(3) {
  left: 22em;
}

#drawer.hide .item:nth-child(3) {
  left: 34em; /* 30 + (8/2) = 34 */
}

/* ====== */
/* Y-AXIS */
/* ====== */
#drawer .row {
  margin: 0 0 2.4em;
}

#drawer.hide .row:nth-child(1) .item {
  /* 1st row top offset - itemWidth*1.5 */
  top: -18em; /* 0 - 12*1.5 = -18 */
}

#drawer.hide .row:nth-child(2) .item {
  top: 0;
}

#drawer.hide .row:nth-child(3) .item {
  /* 3rd row bottom + itemHeight*.5 */
  top: 16em; /* 10 + 12*.5 = 16 */
}

/* ======== */
/* HOME BTN */
/* ======== */

/* .homeLink is for 320-width design */
.homeLink {
  font-size: 1.6em;
  text-align: left;
}

.homeLink a {
  color: #069;
}

#homeBtnWrapper {
  border: 0;
  margin: 0 auto;
  position: relative;
}

#homeBtn {
  display: none;
}

/* ======= */
/* CONTENT */
/* ======= */

#content {
  display: none;
  margin: 0 auto 50px;
  min-height: 1px;
  padding: 0;
  position: relative;
  text-align: left;

  -moz-transition:    margin .5s ease-in-out;
  -webkit-transition: margin .5s ease-in-out;
  transition:         margin .5s ease-in-out;
}

#content.show {
  display: block;
}

#content p {
  font-size: 1.6em;
}

#content a {
  color: #069;
}

/* ===== */
/* ABOUT */
/* ===== */

#aboutSection h3 {
  font-size: 1.8em;
  margin-top: 2em;
}

@media only screen and (min-width: 480px) {
  #main {
    padding: 3em 2em 0;
  }

  #mainTitle {
    font-size: 4.8em;
    padding: 0 0 .5em;
  }

  /* Everything is 1.5x */
  #drawer {
    width: 45em;
  }

  #drawer .row {
    width: 45em;
    height: 15em;
  }

  #drawer .item {
    width: 12em;
    height: 12em;
  }

  #drawer.hide .item {
    width: 18em; /* 12 * 1.5 = 18 */
    height: 18em;
  }

  .item h2 {
    font-size: 2em;
  }

  /* ====== */
  /* X-AXIS */
  /* ====== */

  /* Move by 1.5x width */

  /* left column*/
  #drawer.hide .row .item:nth-child(1) {
    /* 1st column left offset - itemWidth*1.5 */
    left: -18em; /* 0 - 12*1.5 = -18 */
  }

  /* middle column*/
  #drawer .item:nth-child(2) {
    left: 16.5em;
  }

  #drawer.hide .item:nth-child(2) {
    /* 2nd column left offset - (itemWidth/2)/2 */
    left: 13.5em; /* 16.5 - ((12/2)/2) = 13.5 */
  }

  /* right column*/
  #drawer .item:nth-child(3) {
    left: 33em;
  }

  #drawer.hide .item:nth-child(3) {
    /* drawerWidth + itemWidth/2 */
    left: 51em; /* 45 + (12/2) = 51 */
  }

  #content p {
    line-height: 1.5em;
  }
}

@media only screen and (min-width: 600px) {
  /* ======== */
  /* HOME BTN */
  /* ======== */
  .homeLink {
    display: none;
  }

  #homeBtn {
    background-color: #fff;
    border: 1px solid #666;
    border-top: none;
    display: block;
    height: 8em;
    width: 9em;

    position: absolute;
    top: -12em;
    left: 2em;
    z-index: 10;

    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    -o-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;

    -moz-transition:    top .4s ease-in-out;
    -webkit-transition: top .4s ease-in-out;
    transition:         top .4s ease-in-out;
  }

  #homeBtn.show:hover {
    -moz-box-shadow: 3px 1px 5px #999;
    -webkit-box-shadow: 3px 1px 5px #999;
    box-shadow: 3px 1px 5px #999;
  }

  #homeBtn.noanim {
    -moz-transition:    none;
    -webkit-transition: none;
    transition:         none;
  }

  #homeBtn.show {
    top: 0;

    -moz-box-shadow: 3px 1px 5px #ccc;
    -webkit-box-shadow: 3px 1px 5px #ccc;
    box-shadow: 3px 1px 5px #ccc;
  }

  #homeBtn img {
    width: 7.5em;
    height: 7.5em;
  }

  #mainTitle {
    font-size: 7.2em;
  }
  #drawerWrapper .item h2 {
    font-size: 2.4em;
  }
}

@media only screen and (min-width: 768px) {
  #content {
    max-width: 800px;
  }
  #homeBtnWrapper {
    max-width: 800px;
  }
}

@media only screen and (min-height: 1100px) {
  #main {
    padding-top: 10em;
  }
}
