body {
  background-color: #132b53;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #9addff;
}

ul, li {
  list-style-type: none;
}

p {
  margin: 0;
}

h1 {
  margin: 0 0 20px;
  text-shadow: #000 2px 2px 1px;
}

#main {
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.gradient {
  /*background: #162433;*/
  /* fallback */
  background-color:#063053;
  /* chrome 2+, safari 4+; multiple color stops */
  background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.32,#20498d), color-stop(0.83,#132b53));
  /* chrome 10+, safari 5.1+ */
  background-image:-webkit-linear-gradient(#20498d,#132b53);
  /* firefox; multiple color stops */
  background-image:-moz-linear-gradient(top,#20498d,#132b53);
  /* ie 6+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#20498d', endColorstr='#132b53');
  /* ie8 + */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#20498d', endColorstr='#132b53')";
  /* ie10 */
  background-image: -ms-linear-gradient(#20498d,#132b53);
  /* opera 11.1 */
  background-image: -o-linear-gradient(#20498d,#132b53);
  /* The "standard" */
  background-image: linear-gradient(#20498d,#132b53);

  width: 100%;
  height: 900px;
  z-index: -1;

  position: absolute;
  top: 0;
  left: 0;
}

.cxnWrapper {
  margin: 0 auto;
  width: 798px;
}

.filter,
.categories, {
  display: none;
}

.categories {
  float: right;
  padding: 0;
}

.categories li {
  float: left;
  text-align: center;
  width: 216px;
}

.cxns {
  clear: right;
}

.cxns,
.cxns .cxn {
  margin: 0;
  padding: 0;
  width: 798px;
}

.cxns .cxn {
  clear: left;
  margin-bottom: 25px;
  text-align: left;
}

.name {
  color: #000;
  text-align: center;
  text-decoration: none;
  width: 150px;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.picLink {
  border: 5px solid #fff;
  display: block;
  margin: 0 auto;
  width: 80px;

  -moz-box-shadow: 3px 3px 3px #333;
  -webkit-box-shadow: 3px 3px 3px #333;
  box-shadow: 3px 3px 3px #333;

  -moz-border-radius: 45px;
  -webkit-border-radius: 45px;
  border-radius: 45px;
}

.picLink:hover {
  border-color: #9addff;
}

.picLink img {
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
}

.profileLink {
  display: block;
  text-align: center;
  text-decoration: none;
}

.attrInfo { /* ul */
  float: right;
  height: 80px;
  padding-left: 0;
}

.attrInfo li {
  background-color: #fff;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  color: #000;
  float: left;
  padding: 37px 0;
  text-align: center;
  width: 216px;
  height: 16px;

  -moz-box-shadow: 6px 6px 6px #333;
  -webkit-box-shadow: 6px 6px 6px #333;
  box-shadow: 6px 6px 6px #333;
}

.attrInfo li.first {
  border-left: 1px solid #999;

  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px;
}

.attrInfo li.last {
  border-right: 1px solid #999;

  -webkit-border-radius: 0 8px 8px 0;
  -moz-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
}

.cxns.self-filter li,
.cxns.happy-filter li,
.cxns.sad-filter li,
.cxns.neutral-filter li,
.cxns.angry-filter li,
.cxns.surprised-filter li,
.cxns.glasses-filter li,
.cxns.noglasses-filter li,
.cxns.smile-filter li,
.cxns.nosmile-filter li,
.cxns.noattrs-filter li {
  display: none;
}

.cxns.all-filter li,
.cxns.self-filter li.self,
.cxns.happy-filter li.happy,
.cxns.sad-filter li.sad,
.cxns.neutral-filter li.neutral,
.cxns.angry-filter li.angry,
.cxns.surprised-filter li.surprised,
.cxns.glasses-filter li.glasses,
.cxns.noglasses-filter li.noglasses,
.cxns.smile-filter li.smile,
.cxns.nosmile-filter li.nosmile,
.cxns.noattrs-filter li.noattrs
{
  display: block;
}

.cxns.self-filter .attrInfo li,
.cxns.happy-filter .attrInfo li,
.cxns.sad-filter .attrInfo li,
.cxns.neutral-filter .attrInfo li,
.cxns.angry-filter .attrInfo li,
.cxns.surprised-filter .attrInfo li,
.cxns.glasses-filter .attrInfo li,
.cxns.noglasses-filter .attrInfo li,
.cxns.smile-filter .attrInfo li,
.cxns.nosmile-filter .attrInfo li,
.cxns.noattrs-filter .attrInfo li  {
  display: block;
}
