.upcoming h2,
.whatisthis h2 {
  font-size: 2em;
}
#colorMsg,
.nameLabel,
#username span,
.upcoming ul,
.whatisthis p {
  font-size: 1.6em;
}
.loading #grid {
  visibility: hidden;
}
#grid {
  text-align: center;
}
#grid, .innergrid {
  list-style: none;
}
#grid,
.innergrid,
.innergrid li{
  padding: 0;
  text-align: center;
}
#grid li {
  clear: left;
  margin: 0 auto;
  width: 660px;
}
.innergrid {
  background-color: #fff;
  height: 22px;
}
#grid .innergrid li {
  border: 1px solid #000;
  clear: none;
  display: inline-block;
  overflow: visible;
  height: 20px;
  width: 20px;
}
#grid .innergrid li.toggled {
  background-color: black;
}
.nameLabel {
  background-color: #d5a222;
  border: 1px solid black;
  float: left;

  position: relative;
  top: -20px;
  left: -2px;
}
.loading .loading-status {
  display: block;
  float: left;
  font-size: 1.6em;
  padding-top: 100px;
  text-align: center;
  width: 100%;
}
.loading-status {
  display: none;
}
#controls {
  border: 1px solid #000;
  min-height: 109px;
  margin: 20px auto;
  padding: 10px;
  width: 640px;
}
.colors li {
  float: left;
}
.colors li a,
#colorMsg div{
  border: 1px solid #000;
  height: 40px;
  margin: 10px;
  width: 40px;
}
.colors li a {
  display: inline-block;
}
#controls p {
  clear: left;
}
#clearBtn {
  margin-left: 10px;
}
#username span {
  display: none;
  padding: 0 10px;
}
#editNameText {
  margin-right: 10px;
}
#editNameField {
  display: none;
}
#colorMsg {
  float: right;
  text-align: center;
}
.extra {
  margin: 0 auto 20px;
  text-align: left;
  width: 640px;
}
.upcoming li {
  font-size: 1em;
}
.black {
  background-color: #000;
}
.red {
  background-color: #f00;
}
.blue {
  background-color: #00f;
}
.green {
  background-color: #0f0;
}
.yellow {
  background-color: #ff0;
}
.white {
  background-color: #fff;
}
