.section {
  border: 10px solid #14a;
  display: none;
  padding: 25px 10px;
  text-align: center;
}

.section.show {
  display: block;
}

.sectionTitle {
  font-size: 36px;
  margin: 0 auto 30px;
}

.sectionContent {
  text-align: left;
}
