body {
  background-color: #000;
}
#pics {
  margin-top:100px;
  width: 970px;
}
.pics {
  clear: left;
}
.cxnPic {
  border: 1px solid black;
  display: block;
  float: left;
  height: 80px;
  width: 80px;
}
.hide,
.cxnPic.hide {
  display: none;
}
