html, body { margin: 0; padding: 0; }
body {
  background-color: #000;
  color: #fff;
  font: 13px Arial;
  text-align: center;
}
ul {
  list-style: none;
}
li {
  border: 1px solid #000;
  min-height: 100px;
  padding: 10px;
  width: 400px;
}
#body {
  margin: 0 auto;
  position: relative;
  width: 1010px;
}
#upper, #lower {
  background-color: #000;
  height: 375px;
  overflow: hidden;
  position: relative;
}
#timeline {
  background-color: #222;
  height: 120px;
  opacity: 0;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  text-align: left;
  width: 970px;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
#timeline .top,
#timeline .bottom {
  height: 20px;
  width: 100%;
}
#timeline .block,
#timeline .date,
#timeline .info {
  position: relative;
}
#timeline .info span,
#timeline .date span {
  padding-left: 2px;
}
#timeline .info span.compName,
#timeline .info span.compDate {
  padding: 0 5px 0 0;
}
.compDate {
  color: #666;
}
#timeline .top.block {
  border-bottom: 2px solid #fff;
}
#timeline .mid {
  height: 10px;
  background-color: #fff;
  width: 100%;
}
#header {
  z-index: 1000;
}
#debug {
  float:left;
  padding-top: 20px;
}
#mypic {
  border: 1px solid #fff;
  cursor: pointer;
  display: none;
  height: 80px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 80px;
}
input {
  position: absolute;
  top: 10px;
  left: 10px;
}
select {
  position: absolute;
  top: 30px;
  left: 10px;
}
.cxnPic {
  cursor: pointer;
  width: 80px;
  height: 80px;
}
#intro {
  border: 1px solid black;
  bottom: 50px;
  display: none;
  opacity: 0;
  margin-left: 10px;
  padding: 10px 10px 10px 75px;
  position: absolute;
  text-align: left;
  width: 200px;
}
#overlay {
  background-color: #000;
  display: none;
  left: 0;
  height: 100%;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
#loading {
  background-color: #fff;
  border: 5px solid #000;
  display: none;
  left: 360px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  top: 30%;
  width: 250px;
  z-index: 11;
}
#printCompBtn {
  display: none;
}
#message {
  display: none;
}
