#resume {
  border: 1px solid #ccc;
  font-family: Helvetica, Arial;
  font-size: 13px;
  margin: 0 auto 20px;
  padding: 50px;
  position: relative;
  text-align: left;

  -moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
  box-shadow: 5px 5px 5px #ccc;
}
#resume a,
#resume a:visited {
  color: #069;
}
#resume .name {
  float: left;
}
#resume .contact {
  float: right;
  margin: 0 0 20px;
}
#resume .contact h3 {
  margin: 5px 0;
}
#resume .section {
  border-top: 1px solid #ccc;
}
#resume .section.first {
  border: none;
}
#resume .section-heading {
  float: left;
  margin: 16px 0;
  width: 200px;
}
#resume .section-content {
  float: left;
  padding: 0 0 17px;
  width: 498px;
}
#resume #skills {
  clear: both;
}
#resume #skills .sub,
#resume #interests .sub {
  margin-left: 20px;
}
#resume #skills ul,
#resume #interests ul {
  list-style-type: disc;
  list-style-position: outside;
  margin: 16px 90px 16px 0;
  padding: 0 0 0 20px;
  float: left;
}
#resume #skills ul.last {
  margin-right: 0;
}
#resume #skills .disclaimer {
  font-size: 10px;
  font-style: italic;
  clear: left;
}
#resume #experiences ul,
#resume #projects ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#resume .headline {
  margin: 17px 0;
}
#resume .dates {
  display: block;
  float: right;
}
#resume .position-description {
  clear: both;
}
#interests ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-bottom: 0;
}
#resume .clearfix,
#resume .section {
  clear: left;
}
#dontclickme {
  height: 100px;
  width: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
}
#egg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#egg-container .egg {
  background-color: #fff;
  border: 5px solid #000;
  margin: 100px auto;
  padding: 20px;
  width: 600px;
}
