#resumeSection {
  border: 1px solid #ccc;
  font-size: 1.6em;
  margin: 0 auto 20px;
  padding: 2em 1em 1em;
  position: relative;
  text-align: left;

  -moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
  box-shadow: 5px 5px 5px #ccc;
}
#resumeSection a,
#resumeSection a:visited {
  color: #069;
}
#resumeSection .name {
  float: left;
  font-size: 1.8em;
}
#resumeSection .contact {
  clear: left;
  padding-top: 1em;
}
#resumeSection .contact h3 {
  margin: 5px 0;
}
#resumeSection .section {
  border-top: 1px solid #ccc;
}
#resumeSection .section.first {
  border: none;
}
#resumeSection .section-heading {
  float: left;
  font-size: 1.6em;
  margin: 1.6em 0 0;
  /*width: 200px;*/
}
#resumeSection .section-content {
  float: left;
  padding: 0 0 17px;
  /*width: 498px;*/
}
#resumeSection #skills {
  clear: both;
}
#skillsListWrapper {
  margin: 1.6em 0;
}
#resumeSection #skills .sub,
#resumeSection #interests .sub {
  margin-left: 2em;
}
#resumeSection #skills ul,
#resumeSection #interests ul {
  float: left;
  font-size: 1.4em;
  list-style-type: disc;
  list-style-position: outside;
  margin: 0 9em 0 0;
  padding: 0 0 0 20px;
}
#resumeSection #skills ul.last {
  margin-right: 0;
}
#resumeSection #skills .disclaimer {
  font-style: italic;
  clear: left;
}
#resumeSection #experiences ul,
#resumeSection #projects ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#resumeSection .headline {
  margin: 17px 0;
}
#resumeSection .dates {
  display: block;
  float: right;
}
#resumeSection .position-description {
  clear: both;
}
#interests ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-bottom: 0;
}
#resumeSection .clearfix,
#resumeSection .section {
  clear: left;
}
#dontclickme {
  height: 100px;
  width: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}
#egg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#egg-container .egg {
  background-color: #fff;
  border: 5px solid #000;
  margin: 100px auto;
  padding: 20px;
  width: 600px;
}

@media only screen and (min-width: 480px) {
  #resumeSection {
    padding: 50px;
  }
  #resumeSection .contact {
    float: right;
    margin: 0 0 20px;
  }
}
