#resumeSection {
  border: 1px solid #ccc;
  margin: 0 auto 20px;
  padding: 2em 1em 1em;
  position: relative;
  text-align: left;

  -moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
  box-shadow: 5px 5px 5px #ccc;
}
#resumeSection a,
#resumeSection a:visited {
  color: #069;
}
#resumeSection p {
  clear: left;
}
#resumeSection h1 {
  float: left;
  font-size: 2.4em;
}
#resumeSection .contact {
  clear: left;
  padding-top: 1em;
}
#resumeSection .contact h3 {
  font-size: 1.6em;
  margin: 0 0 5px;
}
#resumeSection .section {
  border-top: 1px solid #ccc;
}
#resumeSection .section.first {
  border: none;
}
#resumeSection h2.section-heading {
  float: left;
  font-size: 2em;
  margin: 1.6em 0 0;
  /*width: 200px;*/
}
#resumeSection .section-content {
  float: left;
  padding: 0 0 17px;
  /*width: 498px;*/
}
#resumeSection .skills {
  clear: both;
}
#skillsListWrapper {
  margin: 1.6em 0;
}
#resumeSection .skills .sub,
#resumeSection .interests .sub {
  margin-left: 2em;
}
#resumeSection .skills ul,
#resumeSection .interests ul {
  float: left;
  font-size: 1.6em;
  list-style-type: disc;
  list-style-position: outside;
  margin: 0;
  padding: 0 0 0 20px;
  width: 11em;
}
#resumeSection .skills ul.last {
  margin-right: 0;
}
#resumeSection .skills .disclaimer {
  clear: left;
  font-style: italic;
  padding-top: 10px;
}
#resumeSection .experiences ul,
#resumeSection .projects ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#resumeSection h4 {
  font-size: 1.6em;
}
#resumeSection .headline {
  font-size: 1.6em;
  margin: 1em 0;
}
#resumeSection .position,
#resumeSection .project-name,
#resumeSection .college {
  display: block;
  float: left;
}
#resumeSection .dates {
  display: block;
  clear: left;
  float: left;
  font-style: italic;
  font-weight: normal;
}
#resumeSection .position-description {
  clear: both;
}
#resumeSection .position-description {
  padding-top: 1px;
}
#resumeSection .interests ul {
  list-style-type: disc;
  list-style-position: outside;
  margin: 0;
}
#resumeSection .interests li {
  float: none;
}
#resumeSection .clearfix,
#resumeSection .section {
  clear: left;
}
#dontclickme {
  height: 100px;
  width: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}
#egg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#egg-container .egg {
  background-color: #fff;
  border: 5px solid #000;
  margin: 100px auto;
  padding: 20px;
  width: 600px;
}

@media only screen and (min-width: 480px) {
  #resumeSection {
    padding: 2.5em;
  }
  #resumeSection .name {
    float: left;
  }
  #resumeSection .contact {
    clear: none;
    float: right;
    margin: 0 0 20px;
    padding: 0;
  }
  #resumeSection .skills {
    clear: both;
  }
  #resumeSection .interests ul {
    margin: 0 9em 0 0;
  }
}
@media only screen and (min-width: 600px) {
  #resumeSection {
    padding: 5em;
  }
  #resumeSection h2.section-heading {
    margin: .8em 0;
    width: 10em;
  }
  #resumeSection .skills ul,
  #resumeSection .interests ul {
    margin: 0 3.5em 0 0;
    width: auto;
  }
  #resumeSection .skills .disclaimer {
    font-size: 1.2em;
  }
  #resumeSection .interests .section-content {
    margin-top: 1.6em;
  }
}
@media only screen and (min-width: 850px) {
  #resumeSection .section-content {
    width: 49em;
  }
}
