body,h1,h2,h3,h4,h5,h6,div,ul,ol,li,p{border:0;font-family:'Helvetica','Arial',sans-serif;font-size:16px;font-weight:normal;list-style:none;margin:0;padding:0;}
body{background-color:#fff;color:#000;}
#main{margin:20px auto;padding:0 10px;text-align:center;}
#mainTitle{font-family:'Exo',sans-serif;font-size:48px;font-weight:800;text-align:center;text-shadow:#224444 3px 3px 1px;}
#sectionBtnWrapper{margin:25px auto;position:relative;width:280px;height:280px;}
.sectionBtn{color:#000;margin:10px;overflow:hidden;position:absolute;-moz-transition-property:background-color,opacity,width,height,left,top;-moz-transition-duration:0.3s;-moz-transition-timing-function:ease-out;-webkit-transition-property:background-color,opacity,width,height,left,top;-webkit-transition-duration:0.3s;-webkit-transition-timing-function:ease-out;-o-transition-property:background-color,opacity,width,height,left,top;-o-transition-duration:0.3s;-o-transition-timing-function:ease-out;transition-property:background-color,opacity,width,height,left,top;transition-duration:0.3s;transition-timing-function:ease-out;}
.sectionBtn:nth-child(1){top:0;left:0;}
.sectionBtn:nth-child(2){top:0;left:140px;}
.sectionBtn:nth-child(3){top:140px;left:0;}
.sectionBtn:nth-child(4){top:140px;left:140px;}
.sectionBtn .title{background-color:#14a;color:#bed;display:block;font-size:24px;font-weight:800;height:50px;line-height:50px;position:relative;text-align:center;text-decoration:none;width:120px;height:120px;-moz-transition-property:background-color,opacity,width,height,left,top;-moz-transition-duration:0.3s;-moz-transition-timing-function:ease-out;-webkit-transition-property:background-color,opacity,width,height,left,top;-webkit-transition-duration:0.3s;-webkit-transition-timing-function:ease-out;-o-transition-property:background-color,opacity,width,height,left,top;-o-transition-duration:0.3s;-o-transition-timing-function:ease-out;transition-property:background-color,opacity,width,height,left,top;transition-duration:0.3s;transition-timing-function:ease-out;}
#sectionBtnWrapper.faded{display:none;}
#sectionBtnWrapper.fading .sectionBtn{opacity:0;}
#sectionBtnWrapper.fading .sectionBtn .title{width:180px;height:180px;}
#sectionBtnWrapper.fading .sectionBtn:nth-child(1){top:-140px;left:-140px;}
#sectionBtnWrapper.fading .sectionBtn:nth-child(2){top:-140px;left:280px;}
#sectionBtnWrapper.fading .sectionBtn:nth-child(3){top:280px;left:-140px;}
#sectionBtnWrapper.fading .sectionBtn:nth-child(4){top:280px;left:280px;}
.sectionBtn .title:hover{background-color:#fff;color:#14a;}
.sectionBtn .title span{display:block;margin:-25px auto 0;position:absolute;top:50%;width:100%;}
#content{display:none;padding-top:25px;text-align:left;}
#content.show{display:block;}
.section{display:none;}
.section.show{display:block;}
@media only screen and (min-width:480px){}
